<html>
    <head>

    </head>
    <body>
       <h2> name:{{name}}</h2>
        <h2>email:{{email}}</h2>
        <h2>phone:{{phone}}</h2>
        <p>Bio:{{bio}}</p>
        <p><b>DOB:</b>{{BirthDay}}/{{BirthMonth}}/{{BirthYear}}</p>

    </body>
</html>